.btn,
.btnSmall {
    display: inline-block;
    height: 2.375rem;
    line-height: 2.375rem;
    border: 1px solid #ff6000;
    border-radius: .375rem;
    font-size: .875rem;
    color: white;
    padding: 0 1rem;
    background-color: #ff6000;
    text-align: center;
}

.btnSmall {
    height: 1.75rem;
    line-height: 1.75rem;
}

.disabled,
.disabledCaps {
    color: #ccc;
    background-color: #ECF0F1;
    border: 1px solid #ECF0F1;
    border-radius: .333rem;
}

.disabledCaps {
    border-radius: 2rem;
}

.cutout {
    background-color: white;
}

.cutoutPrimary {
    color: #ff6000;
    border: 1px solid #ff6000;
}

.cutoutSecondary {
    color: #2da7ed;
    border: 1px solid #2da7ed;
}

.capsule {
    border-radius: 2rem;
}

.secondary {
    background-color: #2da7ed;
    border: 1px solid #2da7ed;
}

.btnLink {
    color: #2DA7ED;
}

.btnLinkDisabled {
    color: #ccc;
}